<nb-card>
  <nb-card-body>
    <div class="display-3 text-center">Qatar</div>
     <br>
     <video class="video-fluid z-depth-1"  width="55%" height="50%" loop controls muted>
      <source [src]="src" type="video/mp4" />
  </video>
      <br>
      
        
      <br>
     <div class="T">
     Qatar is a land where tradition meets modernity. It is a country whose people are rooted in their heritage while maintaining an eye on the future, and Qatar’s growing global role in business, politics, and education.  There is a deep respect for the nation’s history - archaeological sites and artefacts are painstakingly excavated and cared for – protected in-situ or housed in museums. The country’s seafaring past today manifests in a continued reverence for the crystal waters that surround the peninsula. Fishing remains a passion, and enthusiasts can enjoy a plethora of water sports. Qatar holds thrills and novel experiences for all. It offers a window to the past – and a glimpse into the future, all under the umbrella of that famous Arabian hospitality.
    </div>

     <br>
    </nb-card-body>
    </nb-card>