<nb-alert *ngIf="test ; else block" status="danger">Empty shopping cart</nb-alert>

<ng-template #block>
<nb-card>

    <nb-card-header>Tickets</nb-card-header>
     <nb-card-body >
       
      <div class="search-label" for="search" >Search 
        <nb-search type="rotate-layout" tag="rotate-layout"></nb-search>
 
       </div>
      
       
        <br>
      
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th  class="label col-form-label" scope="col">Team 1</th>
                <th  class="label col-form-label" scope="col">Team 2</th>
                <th  class="label col-form-label" scope="col">Stadium</th>
                <th   class="label col-form-label" scope="col">Number of spectators</th>
                 <th  class="label col-form-label" scope="col">Date</th>
                 <th  class="label col-form-label" scope="col">Price</th>
                <th class="label col-form-label" scope="col">Number of Tickets</th>
                <th class="label col-form-label" scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of Panier | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="label col-form-label">{{p.match._premiereEquipe}}</td>
                <td class="label col-form-label">{{p.match._deuxiemeEquipe}}</td>
                <td class="label col-form-label">{{p.match._stade}}</td>
                <td class="label col-form-label">{{p.match._nbSpectateur}}</td>               
                <td class="label col-form-label">{{p.match._dateMatch | date:"yyyy/MM/dd"}}</td>
                <td class="label col-form-label">{{p.match.prix}}$</td>
                  <td class="label col-form-label"> <nb-icon icon="minus-outline" status="primary" (click)="sup(p)"></nb-icon> {{p.ticket}} <nb-icon icon="plus-outline" status="primary" (click)="add(p)"></nb-icon> </td>
                  <td class="label col-form-label">{{p.match.prix * p.ticket}}$</td>
                  <td>
                    <nb-icon icon="trash-2-outline" status="danger" (click)="del(p)"></nb-icon> 
                  
                  </td>
              </tr>
            </tbody>
          </table>
          <div class="my-pagination">
          
           <pagination-controls (pageChange)="p = $event" screenReaderCurrentLabel="You're on page" responsive="true" ></pagination-controls>
          </div>

     </nb-card-body>
   <nb-card-footer>
     
    <div class="row ">
      <div class="col-sm-3">
        <label class="label col-form-label">Total</label> </div>
        <div class="col-sm-3" >{{Totale}}$
        
     
     </div>
     <div class="col-sm-6">
      <button type="submit" nbButton status="primary" (click)="achat()">Submit</button>
     </div>
   </div>
   </nb-card-footer>
   </nb-card>
  </ng-template>